<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue ToDo List</title>

    <!-- CSS -->
    <link rel="stylesheet" href="./CSS/main.css">

    <!-- FONT-AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">

    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!-- VUE JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

</head>
<body>
    
    <div id="app" class="container">

        <!-- IMMAGINE -->
        <header class="app-header">
            <img src="./img-todo/NWshadow.svg" alt="logo new world">
        </header>

        <!-- IMPUT ADD TO DO -->
        <section class="new-todo">
            <input type="text"
            placeholder="Nuovo to do..."
            v-model.trim="newTodo"
            @keyup.enter="addTodo"
            />

            <button @click="addTodo">Aggiungi</button>
        </section>

        <!-- LISTA TO DO -->
        <section class="todos-container">
            <ul v-if= "todos.length > 0">

                <li class="todo" v-for="(todo, index) in todos">

                    <span class="text"
                     :class="{completed : todo.completed}"
                     @click="updateStatus(index)">
                        {{ todo.text }}
                    </span>

                    <i class="fas fa-times"
                    @click="removeTodo(index)"></i>
                </li>
            </ul>
            <!-- <h2>Non ci sono ToDo</h2> -->
        </section>
    </div>

   

    <!-- JS -->
    <script src="./JS/script.js"></script>
</body>
</html>